
services:
  frontend:
    build: 
      context: ./Frontend
      dockerfile: Dockerfile
    image: nginx-frontend:latest
    restart: always
    volumes:
      - ./Frontend/index2.html:/usr/share/nginx/html/index.html
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - frontend-network
  backend:
    build: 
      context: ./Java
      dockerfile: Dockerfile
    image: java-backend:latest
    restart: always
    environment:
      MY_ARGUMENT: "PROD"
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: mydb
      HOST_SERVER: "host.docker.internal"
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - db-network
      - frontend-network
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - db-network

volumes:
  db-data:
    driver: local

networks:
  default:
    driver: bridge
  db-network:
    driver: bridge
  frontend-network:
    driver: bridge